<html>
<body>
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="menu col-xs-8">
          <ul>
            <li><a href="/">Welcome</a></li>
            <li><a href="portfolio">Portfolio</a></li>
            <li><a href="https://medium.com/about-codecadmey">Blog</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </div>
        
        <div class="menu col-xs-4">
          <h1>Virginia Leandro</h1>
        </div>  
      </div>
    </div>
  </div>
  
  <div class="main home">
    <div class="jumbotron">
      <div class="container">
        <h2> Hello.  My name is <span class="highlight">Virginia Leandro</span> and I am doing the work I do!</h2>
          <a class="btn right" href="portfolio">View My Work</a>
       </div>
     </div>     
  </div>     
  
  <div class="footer">
    <div class="container">
        <ul class="social_media">
          <li><a class="github" href="#"></a></li>
          <li><a class="twitter" href="#"></a></li>
          <li><a class="facebook" href="#"></a></li>          
        </ul>
        <p>&copy; 2015 Virginia Leandro<p>
    </div>
  </div>
</body>
</html>
